@charset "UTF-8";
/*---基础配置----*/
html, body, ul, li, ol, dl, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}
/*-------公共样式-------*/
body {
    background-color: #F7F7F7;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    margin-bottom: 100px;
}

#top_nav{
    height: 40px;
}

#top_nav .item{
    line-height: 38px;
    font-weight: 700;
    font-size: 16px;
    background-color: #fff;
    text-align: center;
}